<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Massey Home</title>
    <link rel="stylesheet" href="web/css/main.css">
    <link rel="script" href="web/js/main.js">
</head>
<body>
    <header>
        <h1>Massey Home</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="index.php?page=about">Sensors</a></li>
        </ul>
    </nav>
    <main>
        <h2>Home</h2>
        <button id="office fan">Office Fan</button>
        <button id="office light">Office Light</button>
    </main>
    <footer>
        <p>&copy; 2024 Massey Home</p>
    </footer>
</html>